/* css */
.toggle {
    height: 9px;
    width: 9px;
    display: inline-block;
}

.toggle.expand {
    background: url(../../rwt_utils_3rdparty/SlickGrid//images/expand.gif) no-repeat center center;
}

.toggle.collapse {
    background: url(../../rwt_utils_3rdparty/SlickGrid/images/collapse.gif) no-repeat center center;
}

.odd {
    background: #F7F7F7;
}