// main: common.scss

@charset "utf-8";

$baseWidth: 800px;

$large: "print, screen and (min-width: 600px)";
$medium: "only screen and (max-width: 599px)";
$small: "only screen and (max-width: 400px)";

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
$sans-serif: 'Noto Sans JP', "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$serif: "游明朝", "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;


@mixin font-size($size, $base:16) {
    font-size: ($size / $base) + rem;
}

@mixin clearfix {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

// quad
$easeInQuad:cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad:cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad:cubic-bezier(0.455, 0.03, 0.515, 0.955);
