/* contents_header */

.hidden {
    display: none;
}

/* contents_body - grid */

.ui-widget {
    margin-bottom: 0;
}

.cell-title {
    font-weight: bold;
}

.cell-effort-driven {
    text-align: center;
}

.slick-cell.r2 {
    padding-left: 16px;
}

span.severity {
    color: #fff;
    font-size: 0.5625rem;
    padding: 1px 6px;
    border-radius: 3px;
    letter-spacing: 0.5px;
    display: inline-block;
    width: 2.2rem;
    text-align: center;
}

span.severity.Debug {
    background-color: rgb(177, 170, 171);
}

span.severity.Info {
    background-color: rgb(105, 189, 245);
}

span.severity.Warn {
    background-color: rgb(87, 209, 16);
}

span.severity.Error {
    background-color: rgb(255, 157, 29);
}

span.severity.Fatal {
    background-color: #EC5363;
}

.notMatched {
    color: #b0b0b0;
}

span.severity.notMatched {
    color: #b0b0b0;
    background-color: rgb(224, 224, 224);
}

/* contents_sub (filter) */
.contents_sub label.disabled {
    color: #a0a0a0;
}

span.label.and {
    letter-spacing: 0.7px;
    font-size: 0.625rem;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 1px 12px;
    margin: 2px 6px 2px 2px;
    display: block;
    color: #fff;
    background-color: #58A0D6;
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.console_sub .filter-list>li .stamp {
    width: 100%;
}

.console_sub .filter-list>li .stamp input {
    height: 2rem;
    width: 50%;
}

.dialog_hidden {
    display: none;
}

.console .dialog_back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.console .dialog {
    display: block;
    background-color: #fff;
    border: 1px solid #707070;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.console .dialog {
    position: relative;
    top: 60px;
    margin: auto;
}

@media only screen and (max-width: 599px) {
    .console .dialog {
        width: 90%;
    }
}

.console .dialog_header {
    border-bottom: 1px solid #BEBEBE;
}

.console .dialog_header h4 {
    font-size: 0.8125rem;
    margin: 0.75rem 1rem;
}

.console .dialog_box_1 {
    margin: 0 auto;
}

.console .dialog_body {
    margin: 1rem auto;
}

.console .dialog_footer button {
    display: block;
    margin: 10px auto;
    text-align: center;
}

.console .dialog_box_2 {
    margin: 1rem auto;
    padding: 0 16px;
}

.console .dialog_box_2 .table-type-4 {
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 0.75rem;
}

@media only screen and (max-width: 400px) {
    .console .dialog_box_2 .table-type-4 {
        width: 90%;
    }
}

.console .dialog_box_2 .table-type-4 th,
.console .dialog_box_2 .table-type-4 td {
    padding: 2px 0.75rem;
    border: 1px solid #CECECE;
    box-sizing: border-box;
    word-break: break-all;
}

@media only screen and (max-width: 400px) {

    .console .dialog_box_2 .table-type-4 th,
    .console .dialog_box_2 .table-type-4 td {
        display: block;
        width: 100%;
        text-align: center;
    }
}

.console .dialog_box_2 .table-type-4 th {
    text-align: right;
    background-color: #E6F1F9;
}

@media only screen and (max-width: 400px) {
    .console .dialog_box_2 .table-type-4 th {
        text-align: center;
    }
}