/* css */
.ui-widget {
    margin-bottom: 0;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.cell-title {
    font-weight: bold;
}

.cell-effort-driven {
    text-align: center;
}

span.label.and {
    color: #fff;
    font-size: 0.5625rem;
    padding: 1px 6px;
    border-radius: 3px;
    letter-spacing: 0.5px;
    display: inline-block;
    background-color: #74CFD6;
}