<launch>
  <arg name="launch_roswww" default="true" />
  <include file="$(find rwt_topic_marc)/launch/webserver.launch"
           if="$(arg launch_roswww)" />
           
  <include file="$(find rwt_topic_content_marc)/launch/rwt_topic_content_marc.launch">
      <arg name="launch_roswww" value="false" />
  </include>
</launch>
