// rwt_robot_monitor.less

.collapsed {
    display: none;
}

.robot_monitor .dialog_back {
    position: fixed; 
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}

.robot_monitor .dialog {
    position: relative;
    top: 60px;
    margin: auto;
}

.robot_monitor .table-type-2.tree tbody tr.leaf0 td.data_1 {
    position: relative;
    padding-left: calc(2.5rem + 0.3rem); }
    .robot_monitor .table-type-2.tree tbody tr.leaf0 td.data_1:before {
    left: calc(0.75rem + 0.3rem);
    font-size: 1.25rem; 
}

.time-item.no {
  background-color: #fff;
}
