@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #474747;
  background: #ffffff; }

a {
  word-wrap: break-word; }
  a:link {
    color: #70B2C7;
    text-decoration: none; }
  a:visited {
    color: #70B2C7;
    text-decoration: none; }
  a:hover {
    color: #5cd5fb;
    text-decoration: none;
    transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  a:active {
    color: #5cd5fb;
    text-decoration: none; }
  a.disable {
    pointer-events: none; }

a img {
  border: none; }

img {
  max-width: 100%;
  vertical-align: middle; }

button {
  cursor: pointer; }

.sans-serif {
  font-family: "Noto Sans JP", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important; }

.alignLeft {
  text-align: left; }

.alignCenter {
  text-align: center; }

.alignRight {
  text-align: right; }

.caution {
  color: #ff3300; }

.notice {
  color: #17930e; }

.column {
  display: flex; }

.clear {
  clear: both; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

@media print, screen and (min-width: 600px) {
  .lg_none {
    display: none !important; } }

@media only screen and (max-width: 400px) {
  .sm_none {
    display: none !important; } }

@media print {
  .print_none {
    display: none !important; } }

.root {
  overflow: hidden; }
  @media only screen and (max-width: 599px) {
    .root {
      min-width: 320px; } }

.root {
  border: 1px solid #CBCBCB;
  border-radius: 5px;
  background-color: #fff; }

header {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #CBCBCB;
  box-sizing: border-box; }
  header div.column {
    justify-content: space-between;
    align-items: center; }
  header h2 {
    margin: 0;
    font-size: 1rem; }
  header a.icon {
    display: block;
    font-size: 0; }
    header a.icon i {
      color: #989898;
      font-size: 1.3rem; }
    header a.icon:hover {
      opacity: 0.6;
      transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.contents h3 {
  margin: 0;
  font-weight: normal;
  color: #292929;
  font-size: 1rem; }

.contents_header {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem; }
  .contents_header nav ul {
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
    list-style-type: none; }
    .contents_header nav ul li {
      margin-left: 1.75rem;
      font-size: 0.75rem; }
      .contents_header nav ul li a.icon {
        display: block; }
        .contents_header nav ul li a.icon i {
          font-size: 1.2rem;
          margin-right: 5px;
          vertical-align: text-bottom;
          width: 1.2rem; }
  .contents_header.parts-box {
    background-color: #F7F7F7; }
    .contents_header.parts-box .column {
      max-width: 800px;
      padding: 1.25rem 0;
      align-items: center;
      flex-wrap: wrap; }
      .contents_header.parts-box .column > *:nth-child(n+2) {
        margin-left: 0.75rem; }
      .contents_header.parts-box .column > * {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem; }
    .contents_header.parts-box label, .contents_header.parts-box span.label {
      font-size: 0.8125rem; }
    .contents_header.parts-box select {
      flex: 2 0 auto;
      min-width: 180px; }
    @media only screen and (max-width: 400px) {
      .contents_header.parts-box .column {
        display: block;
        padding: 0.25rem 0; }
        .contents_header.parts-box .column:after {
          content: "";
          display: block;
          clear: both; }
        .contents_header.parts-box .column > *:nth-child(n+2) {
          margin-left: 0; }
        .contents_header.parts-box .column > * {
          display: block;
          margin: 0.25rem; }
      .contents_header.parts-box select {
        width: 100%; }
      .contents_header.parts-box button {
        float: right; } }

.contents_sub {
  background-color: #F6F6F6; }
  .contents_sub label {
    color: #484848;
    font-size: 0.8125rem;
    word-break: break-all;
    font-family: "Noto Sans JP", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

.contents button {
  width: 120px;
  min-width: 120px;
  font-size: 0.75rem;
  color: #fff;
  font-weight: bold;
  padding: 0.65rem 1.75rem;
  box-sizing: border-box;
  background-color: #74C2D6;
  border: none;
  border-radius: 3px; }
  .contents button:hover {
    background-color: #63d2ef;
    transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.contents select {
  height: 2.2rem;
  font-size: 0.875rem;
  color: #808080;
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #808080; }

.contents_footer a.footer_btn {
  display: none;
  text-align: center;
  border-top: 1px solid #CBCBCB;
  padding: 0.5rem 0;
  color: #656565;
  font-size: 0.6875rem; }
  .contents_footer a.footer_btn i {
    font-size: 1.2rem;
    margin-right: 5px;
    vertical-align: middle; }
  .contents_footer a.footer_btn.active {
    display: block; }
  .contents_footer a.footer_btn.close {
    background-color: #F6F6F6; }

.contents_footer a:hover.footer_btn.close {
  background-color: #ececec;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.contents_footer a:hover.footer_btn.open {
  background-color: #F6F6F6;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-top: 1px solid transparent; }

.plot_body .graph-box {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 0;
  padding-bottom: 2rem; }

.plot_body .graph-header {
  color: #5A5A5A; }
  .plot_body .graph-header .position {
    font-size: 0.75rem;
    margin-left: 20px;
    margin-bottom: 10px; }
    .plot_body .graph-header .position i {
      font-size: 1.25rem;
      vertical-align: middle;
      margin-right: 10px; }

.plot_body .graph-body {
  width: 100%;
  height: 240px;
  background-color: #ccc; }

.plot_body .graph-footer {
  font-size: 0.75rem; }
  .plot_body .graph-footer ul {
    list-style-type: none;
    margin: 1rem auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
    max-width: 600px; }
    @media only screen and (max-width: 400px) {
      .plot_body .graph-footer ul {
        width: 90%; } }
    .plot_body .graph-footer ul li {
      padding: 0.25rem 1.75rem;
      position: relative;
      word-break: break-all;
      color: #5A5A5A; }
      .plot_body .graph-footer ul li:before {
        content: "";
        display: inline-block;
        width: 1.5rem;
        height: 0.25rem;
        background: #ccc;
        position: absolute;
        left: 0;
        top: 0.75rem; }
    .plot_body .graph-footer ul li.color_01:before {
      background: #8FA9DC; }
    .plot_body .graph-footer ul li.color_02:before {
      background: #DEB2C4; }
    .plot_body .graph-footer ul li.color_03:before {
      background: #F8D9A3; }
    .plot_body .graph-footer ul li.color_04:before {
      background: #B2DEB9; }

.plot_sub .column {
  max-width: 800px;
  margin: 0 auto; }
  @media only screen and (max-width: 599px) {
    .plot_sub .column {
      display: block; } }

.plot_sub .column-box {
  padding: 1.75rem;
  box-sizing: border-box;
  overflow: hidden; }
  @media print, screen and (min-width: 600px) {
    .plot_sub .column-box {
      width: 50%; } }
  @media only screen and (max-width: 599px) {
    .plot_sub .column-box {
      width: 100%; } }

.plot_sub .parts-box:after {
  content: "";
  display: block;
  clear: both; }

.plot_sub .parts-box + .parts-box {
  margin-top: 2rem; }

.plot_sub button {
  float: right; }

.plot_sub .parts-set {
  box-sizing: border-box;
  margin: 0.8rem 0; }
  .plot_sub .parts-set.select {
    display: flex; }
    .plot_sub .parts-set.select label {
      flex: 0 0 30%;
      max-width: 30%;
      margin-top: 0.5rem; }
    .plot_sub .parts-set.select select {
      flex: 0 0 70%;
      max-width: 70%; }
  .plot_sub .parts-set.textbox {
    display: flex; }
    .plot_sub .parts-set.textbox label {
      flex: 0 0 40%;
      max-width: 40%;
      margin-top: 0.5rem; }
    .plot_sub .parts-set.textbox input {
      height: 2.2rem;
      box-sizing: border-box;
      border-radius: 4px;
      border: 1px solid #808080;
      padding: 0.25rem 0.5rem;
      flex: 0 0 60%;
      max-width: 60%;
      font-size: 0.875rem; }
      .plot_sub .parts-set.textbox input:disabled {
        background-color: #EEEEEE; }
  .plot_sub .parts-set.checkbox {
    margin-top: 1.25rem; }
    .plot_sub .parts-set.checkbox input {
      margin: 0 8px 0 0;
      vertical-align: middle; }

.srv .tree-box,
.action .tree-box {
  margin: calc(0.75rem + 35px) 1.75rem 2.5rem; }

.srv .tree-wrap,
.action .tree-wrap {
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 300px;
  position: relative; }

.srv .tree-table,
.action .tree-table {
  width: 100%;
  overflow-x: scroll;
  border-collapse: collapse;
  border-spacing: 0;
  position: absolute;
  top: -35px;
  table-layout: fixed; }
  .srv .tree-table thead tr,
  .action .tree-table thead tr {
    height: 35px; }
  .srv .tree-table thead th,
  .action .tree-table thead th {
    font-size: 0.8125rem;
    text-align: left;
    padding: 0.25rem 0 0.25rem 10px;
    box-sizing: border-box; }
  .srv .tree-table thead th.tree,
  .action .tree-table thead th.tree {
    padding: 0.25rem 0 0.25rem 22px; }
  .srv .tree-table tbody,
  .action .tree-table tbody {
    font-size: 0.6875rem;
    text-align: left; }
    .srv .tree-table tbody tr:nth-child(odd),
    .action .tree-table tbody tr:nth-child(odd) {
      background-color: #F7F7F7; }
    .srv .tree-table tbody th,
    .action .tree-table tbody th {
      font-weight: normal;
      padding: 0.25rem 0 0.25rem 10px;
      box-sizing: border-box; }
    .srv .tree-table tbody td,
    .action .tree-table tbody td {
      padding: 0.25rem 0 0.25rem 10px;
      box-sizing: border-box; }
  .srv .tree-table th, .srv .tree-table td,
  .action .tree-table th,
  .action .tree-table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left; }
  .srv .tree-table th.tree,
  .action .tree-table th.tree {
    width: 20%; }
  .srv .tree-table th.type, .srv .tree-table td.type,
  .action .tree-table th.type,
  .action .tree-table td.type {
    width: 20%; }
  .srv .tree-table th.path, .srv .tree-table td.path,
  .action .tree-table th.path,
  .action .tree-table td.path {
    width: 55%;
    position: relative;
    padding-right: calc(16px + 1rem); }
    .srv .tree-table th.path a.icon, .srv .tree-table td.path a.icon,
    .action .tree-table th.path a.icon,
    .action .tree-table td.path a.icon {
      position: absolute;
      right: 10px;
      font-size: 0;
      color: #E85454; }
      .srv .tree-table th.path a.icon i, .srv .tree-table td.path a.icon i,
      .action .tree-table th.path a.icon i,
      .action .tree-table td.path a.icon i {
        font-size: 1rem; }
  .srv .tree-table tr,
  .action .tree-table tr {
    padding-left: 16px; }
  .srv .tree-table tr.end,
  .action .tree-table tr.end {
    border-bottom: 1px solid #D1D1D1; }
  .srv .tree-table tr.leaf1 th.tree,
  .action .tree-table tr.leaf1 th.tree {
    position: relative;
    padding-left: calc(16px + 1rem); }
  .srv .tree-table tr.leaf2 th.tree,
  .action .tree-table tr.leaf2 th.tree {
    position: relative;
    padding-left: calc(16px + 2rem); }
  .srv .tree-table tr.leaf3 th.tree,
  .action .tree-table tr.leaf3 th.tree {
    position: relative;
    padding-left: calc(16px + 3rem); }
  .srv .tree-table tr.leaf4 th.tree,
  .action .tree-table tr.leaf4 th.tree {
    position: relative;
    padding-left: calc(16px + 4rem); }
  .srv .tree-table tr.leaf5 th.tree,
  .action .tree-table tr.leaf5 th.tree {
    position: relative;
    padding-left: calc(16px + 5rem); }
  .srv .tree-table tr.leaf th.tree > span,
  .action .tree-table tr.leaf th.tree > span {
    position: relative;
    padding-left: 14px; }
    .srv .tree-table tr.leaf th.tree > span:before,
    .action .tree-table tr.leaf th.tree > span:before {
      content: "";
      position: absolute;
      display: block;
      top: 0.5rem;
      width: 6px;
      height: 1px;
      border-left: 6px solid #474747;
      margin: auto;
      vertical-align: middle;
      box-sizing: border-box; }
  .srv .tree-table tr.expand th.tree > span,
  .action .tree-table tr.expand th.tree > span {
    position: relative;
    padding-left: 14px; }
    .srv .tree-table tr.expand th.tree > span:before,
    .action .tree-table tr.expand th.tree > span:before {
      content: "";
      position: absolute;
      display: block;
      top: 0.4rem;
      width: 4px;
      height: 4px;
      border: 4px solid transparent;
      border-top: 4px solid #474747;
      margin: auto;
      vertical-align: middle;
      box-sizing: border-box; }
  .srv .tree-table tr.collapse th.tree > span,
  .action .tree-table tr.collapse th.tree > span {
    position: relative;
    padding-left: 14px; }
    .srv .tree-table tr.collapse th.tree > span:before,
    .action .tree-table tr.collapse th.tree > span:before {
      position: absolute;
      display: block;
      top: 0.25rem;
      width: 4px;
      height: 4px;
      border: 4px solid transparent;
      border-left: 4px solid #474747;
      margin: auto;
      vertical-align: middle;
      box-sizing: border-box; }
